<h1>Palmer Penguins Data analytics</h1>
<hr>
<h2>Analyst : Din Lienard L. Dudas</h2>

In [1]:
import numpy as np
import pandas as pd

In [2]:
penguins = pd.read_csv('penguins.csv')
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Descriptive Analytics</h1>

In [3]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [4]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

<h1>Cleaning the Data Frame</h1>

In [5]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [6]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins[penguins['island'] == 'Dream']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>To get the species</h1>

In [9]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

<h1>Adelie</h1>

In [10]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1>Gentoo</h1>

In [11]:
penguins[penguins['species'] == 'Gentoo']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Chinstrap</h1>

In [12]:
(penguins[penguins['species'] == 'Chinstrap'])

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [13]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [14]:
(penguins[penguins['body_mass_g'] >= 4000])

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
...,...,...,...,...,...,...,...,...,...
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [15]:
(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [16]:
penuins_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]
penuins_heavy

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,290,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,292,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,296,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,306,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,308,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,310,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,314,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,316,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,322,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,324,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,330,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,334,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [17]:
penuins_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              16 non-null     int64
 1   species            16 non-null     object
 2   island             16 non-null     object
 3   bill_length_mm     16 non-null     float64
 4   bill_depth_mm      16 non-null     float64
 5   flipper_length_mm  16 non-null     float64
 6   body_mass_g        16 non-null     float64
 7   sex                16 non-null     object
 8   year               16 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.2+ KB

<h1>How to fillup null values</h1>

In [18]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [19]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [20]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [21]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [22]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [23]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [24]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [25]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [26]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>sssss<h1>

In [27]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [28]:
penguins['species'] = penguins['species'].astype('category')
penguins['island'] = penguins['island'].astype('category')
penguins['year'] = penguins['year'].astype('category')
penguins['sex'] = penguins['sex'].astype('category')

In [29]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386
std,99.448479,5.443643,1.969027,14.020657,799.613058
min,1.000000,32.100000,13.100000,172.000000,2700.000000
25%,86.750000,39.275000,15.600000,190.000000,3550.000000
50%,172.500000,44.250000,17.300000,197.000000,4050.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000

In [30]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
dtypes: category(4), float64(4), int64(1)
memory usage: 15.4 KB

In [31]:
penguins.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [32]:
penguins['mass_kg'] = round(penguins['body_mass_g'] / 1000,1)

In [33]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

In [34]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [35]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    category
 2   island             344 non-null    category
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    category
 8   year               344 non-null    category
 9   mass_kg            344 non-null    float64
dtypes: category(4), float64(5), int64(1)
memory usage: 18.1 KB

In [36]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,mass_kg
count,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,4.202035
std,99.448479,5.443643,1.969027,14.020657,799.613058,0.800744
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2.700000
25%,86.750000,39.275000,15.600000,190.000000,3550.000000,3.600000
50%,172.500000,44.250000,17.300000,197.000000,4050.000000,4.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,4.800000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,6.300000

<h1>Exploratory Data Analysis (EDA)</h1>

<h3>1. Which species from the dateset has the longest bill length?</h3>

In [37]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [38]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df['bill_length_mm'].mean()

np.float64(38.82514427516159)

In [39]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']
gentoo_df['bill_length_mm'].mean()

np.float64(47.475983305036785)

In [40]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']
chinstrap_df['bill_length_mm'].mean()

np.float64(48.83382352941177)

<h1>Insight:</h1>
<h3>The species that has the longest bill by length is "Chinstrap" with the length of 48.8mm in average.</h3>

<h3>2. Which species from the dateset has the longest bill depth?</h3>

In [41]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df['bill_depth_mm'].mean()

np.float64(18.338494536780548)

In [42]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']
gentoo_df['bill_depth_mm'].mean()

np.float64(14.999606206376153)

In [43]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']
chinstrap_df['bill_depth_mm'].mean()

np.float64(18.42058823529412)

<h1>Insight:</h1>
<h3>The species that has the longest bill by depth is "Chinstrap" with the depth of 18.4mm in average.</h3>

<h3>3. Which species from the dataset has the longest flipper length?</h3>

In [44]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [45]:
adelie_f = penguins[penguins['species'] == 'Adelie']
adelie_f['flipper_length_mm'].mean()

np.float64(190.02575792551556)

In [46]:
gentoo_f = penguins[penguins['species'] == 'Gentoo']
gentoo_f['flipper_length_mm'].mean()

np.float64(217.05576777966422)

In [47]:
chinstrap_f = penguins[penguins['species'] == 'Chinstrap']
chinstrap_f['flipper_length_mm'].mean()

np.float64(195.8235294117647)

<h1>Insight:</h1>
<h3>The species that has the longest flipper is "Gentoo" with the length of 217mm in average.</h3>

<h1>4. Which species from the dataset has the lightest bodymass?</h1>

In [48]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [49]:
adelie_kg = penguins[penguins['species'] == 'Adelie']
adelie_kg['mass_kg'].mean()

np.float64(3.7052631578947373)

In [50]:
gentoo_kg = penguins[penguins['species'] == 'Gentoo']
gentoo_kg['mass_kg'].mean()

np.float64(5.069354838709677)

In [51]:
chinstrap_kg = penguins[penguins['species'] == 'Chinstrap']
chinstrap_kg['mass_kg'].mean()

np.float64(3.730882352941177)

<h1>Insight:</h1>
<h3>The species that has the lightest bodymass weighing only 3.7kg in average is "Adelie"</h3>

<h1>5. Which species from dataset has the heaviest bodymass?</h1>

In [52]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [53]:
adelie_kg = penguins[penguins['species'] == 'Adelie']
adelie_kg['mass_kg'].mean()

np.float64(3.7052631578947373)

In [54]:
gentoo_kg = penguins[penguins['species'] == 'Gentoo']
gentoo_kg['mass_kg'].mean()

np.float64(5.069354838709677)

In [55]:
chinstrap_kg = penguins[penguins['species'] == 'Chinstrap']
chinstrap_kg['mass_kg'].mean()

np.float64(3.730882352941177)

<h1>Insight:</h1>
<h3>The species that has the heaviest bodymass weighing 5kg in average is "Gentoo"</h3>

<h1>6. Which species from the dataset has the shortest flipper length?</h1>

In [56]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [57]:
adelie_f = penguins[penguins['species'] == 'Adelie']
adelie_f['flipper_length_mm'].mean()

np.float64(190.02575792551556)

In [58]:
gentoo_f = penguins[penguins['species'] == 'Gentoo']
gentoo_f['flipper_length_mm'].mean()

np.float64(217.05576777966422)

In [59]:
chinstrap_f = penguins[penguins['species'] == 'Chinstrap']
chinstrap_f['flipper_length_mm'].mean()

np.float64(195.8235294117647)

<h1>Insight:</h1>
<h3>The species that has the shortest flipper is "Adelie" with the length of only 190mm in average.</h3>

<h3>7. Which species from the dateset has the shortest bill length?</h3>

In [60]:
penguins['species'].unique()

['Adelie', 'Gentoo', 'Chinstrap']
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

In [61]:
adelie_df = penguins[penguins['species'] == 'Adelie']
adelie_df['bill_length_mm'].mean()

np.float64(38.82514427516159)

In [62]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']
gentoo_df['bill_length_mm'].mean()

np.float64(47.475983305036785)

In [63]:
chinstrap_df = penguins[penguins['species'] == 'Chinstrap']
chinstrap_df['bill_length_mm'].mean()

np.float64(48.83382352941177)

<h1>Insight:</h1>
<h3>The species that has the shortest bill by length is "Chinstrap" with the length of only 38.8mm in average.</h3>